:root {
    --spatiere-mare: 200px;
    --spatiere-medie: 100px;
    --spatiere-mica: 50px;
    --grid-gap-mare: 20px;
    --grid-gap-mediu: 15px;
    --grid-gap-mic: 10px;
    --padding-text: 15px;
    --font-size-mare: 18px;
    --font-size-mediu: 16px;
    --font-size-mic: 14px;
    --culoare-vizitat: #3C81A2; /* Culoare diferită pentru linkuri vizitate */
    --culoare-link: #234B5E; /* Culoare implicită pentru linkuri */
    --culoare-hover: #489CC3; /* Culoare la hover pentru linkuri externe */
    --culoare-pata: rgba(72, 156, 195, 0.4); /* Culoare pentru pata */
}

body {
    --culoare-principala: #4BA3CC;
    --culoare-inchisa: #2F6680;
    --culoare-deschisa: #489CC3;
    --culoare-intermediara: #3C81A2;
    --culoare-foarte-inchisa: #234B5E;
    --culoare-spre-negru: #172e38;
    --culoare-foarte-deschisa: rgb(96, 205, 255);
    padding-left: var(--spatiere-mare);
    padding-right: var(--spatiere-mare);
    font-family: 'Roboto', sans-serif;    
    font-size: var(--font-size-mare);
    transition: font-size 0.5s linear;
}

/* header, footer, section, nav, div {
    background-color: var(--culoare-deschisa);
    border: 1px solid var(--culoare-inchisa);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: var(--padding-text);
} */

img, video {
    width: 100%;
    max-width: 800px;
    min-width: 200px;
    height: auto;
}

#tab-orar th, #tab-orar td {
    border: 1px solid black;
    padding: 10px;
    transition: all 1.5s linear;
}

#tab-orar {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
}

#tab-orar thead th:nth-child(2n) {
    background-color: var(--culoare-foarte-deschisa);
}

#tab-orar td:hover {
    background-color: var(--culoare-inchisa);
}

#tab-orar td[rowspan]:hover {
    background-color: var(--culoare-deschisa);
}

/* Etapa 2 - link top (cerinta individuala) */
#link-top {
    display: block;
    position: fixed;
    bottom: 0.7em;
    opacity: 0.2;
    left: 0.3em;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border: 5px solid var(--culoare-foarte-inchisa);
    border-style: dashed;
    border-radius: 50%;
    background: var(--culoare-deschisa);
    transition: all 0.5s linear;
}

#container:hover #link-top {
    transform: rotate(180deg);
    opacity: 0.8;
    background: radial-gradient(circle, var(--culoare-foarte-deschisa), var(--culoare-intermediara), var(--culoare-foarte-deschisa));
}

#container:hover #sagetica {
    opacity: 0.8;
    transform: rotate(-135deg) translate(-0.5px, -0.5px);
}

#sagetica {
    opacity: 0.2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 2em;
    left: 1.55em;
    width: 3rem;
    width: 1rem;
    height: 1rem;
    transform: rotate(-135deg);
    position: fixed;
    transform-origin: center;
    transition: transform 0.5s linear;
}

/* Cod pentru sagetica ↑(cod:&#8593;) // \2191  */
#sagetica::after {
    content: "\2191"; 
    font-size: 4.5em; 
    position: fixed;
    bottom: -20px;
    left: -55%;
    top: 35px;
    color: var(--culoare-foarte-inchisa);
    transform: rotate(135deg) translateX(-50%) scaleY(0.4);
}

#label {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.6rem;
    text-transform: uppercase;
}

main img {
    width: 80%;
}

#orar {
    position: relative;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

/* Stiluri pentru secțiunea Galerie */
#grid-galerie {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

#grid-galerie figure {
    margin: 0;
    padding: 0;
    background: var(--culoare-deschisa);
    border: 1px solid var(--culoare-inchisa);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; /* setăm o înălțime fixă pentru figure */
}

#grid-galerie img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* păstrează proporțiile imaginii și umple spațiul disponibil */
}

#grid-galerie figcaption {
    padding: 10px;
    text-align: center;
    background: var(--culoare-inchisa);
    color: var(--culoare-foarte-deschisa);
}

@media screen and (max-width: 1200px) {
    #grid-galerie {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    #grid-galerie {
        grid-template-columns: 1fr;
    }
}

/* Linkuri vizitate */
a:visited {
    color: var(--culoare-vizitat);
}

/* Linkuri externe */
a[href^="http"]:not([target="ifr-video"])::before {
    content: "⮳";
    font-size: 1.5em; /* 50% mai mare decât dimensiunea fontului linkului */
    margin-right: 0.5em;
    color: var(--culoare-link);
    transition: color 0.3s;
}

a[href^="http"]:not([target="ifr-video"]):hover::before {
    color: var(--culoare-hover);
}

/* Linkuri din conținutul paginii */
main a:not([href^="http"]) {
    position: relative;
    color: var(--culoare-link);
    text-decoration: none;
    transition: color 0.3s;
}

main a:not([href^="http"])::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: radial-gradient(circle, var(--culoare-pata) 0%, var(--culoare-pata) 40%, transparent 80%, transparent 100%);
    transition: width 0.5s ease, height 0.5s ease, border-radius 0.5s ease;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
}

main a:not([href^="http"]):hover::before {
    width: 200%;
    height: 100%;
    background-size: 100% 100%;
    border-radius: 50%;
}