<!DOCTYPE html>
<html lang="ro">
<%- include('../fragmente/head', { titlu: 'Contact', descriere: 'Contactează Gadget Haven pentru orice informații.' }) %>
<%- include('../fragmente/header') %>
<%- include('../fragmente/nav') %>
<main>
    <h1>Contact</h1>
    <p>Pentru a ne contacta, vizitați <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Google Maps</a> pentru adresa noastră.</p>
    <p>Trimiteți-ne un email la <a href="mailto:contact@gadgethaven.ro">contact@gadgethaven.ro</a>.</p>
</main>
<%- include('../fragmente/footer') %>
</html>
