<%- include('../fragmente/head', { titlu: 'Despre Gadget Haven' , descriere: 'Informații despre Gadget Haven, locul unde tehnologia prinde viață.'})  %>
<%- include('../fragmente/header') %>
<%- include('../fragmente/nav') %> 
<main>
    <h1>Despre Gadget Haven</h1>
    <p>Bine ați venit la Gadget Haven, locul unde tehnologia prinde viață.</p>
    <p>Fondată în 2024, Gadget Haven s-a dedicat oferirii de gadgeturi inovatoare și accesorii high-tech pentru toți pasionații de tehnologie.</p>
    <img src="/resurse/imagini/happy.png" alt="happy">
</main>
<%- include('../fragmente/footer') %>
