@charset "UTF-8";
nav {
  --inaltime-meniu: 2rem;
  height: var(--inaltime-meniu);
  background-color: var(--culoare-deschisa);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}
nav #hamburger {
  display: none;
}
nav input#ch-menu {
  display: none;
}
nav ul.meniu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul.meniu li {
  position: relative;
}
nav ul.meniu li > div,
nav ul.meniu li > a {
  display: block;
  padding: 0 15px; /* Ajustare padding pentru a se încadra în înălțimea meniului */
  text-decoration: none;
  color: white;
  height: var(--inaltime-meniu);
  line-height: var(--inaltime-meniu);
  overflow: hidden;
  position: relative;
  transition: background-color 2s ease-in-out;
}
nav ul.meniu li > div:hover,
nav ul.meniu li > a:hover {
  background-color: var(--culoare-inchisa);
}
nav ul.meniu li > div::before,
nav ul.meniu li > a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: radial-gradient(var(--culoare-deschisa) 0%, var(--culoare-intermediara));
  transform: translate(-50%, -50%);
  transition: width 2s ease-in-out, height 2s ease-in-out;
  z-index: -1;
}
nav ul.meniu li > div:hover::before,
nav ul.meniu li > a:hover::before {
  width: 300%;
  height: 300%;
}
nav ul.meniu li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--culoare-deschisa);
  padding: 0;
  list-style-type: none;
  margin: 0;
  width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asigurare submeniuri peste alte elemente */
}
nav ul.meniu li ul li {
  display: block;
  text-align: left;
}
nav ul.meniu li ul li > a {
  display: block;
  padding: 10px;
  color: black;
  background-color: var(--culoare-deschisa);
  position: relative;
  transition: background-color 2s ease-in-out;
}
nav ul.meniu li ul li > a:hover {
  background-color: var(--culoare-inchisa);
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
nav ul.meniu li ul li > a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: radial-gradient(circle, var(--culoare-inchisa) 0%, var(--culoare-inchisa) 100%);
  transform: translate(-50%, -50%);
  transition: width 2s ease-in-out, height 2s ease-in-out;
  z-index: -1;
}
nav ul.meniu li ul li > a:hover::before {
  width: 300%;
  height: 300%;
}
nav ul.meniu li:hover > ul {
  display: block;
  transform: scaleY(0) scaleX(0);
  opacity: 0;
  animation: showSubMenu 1s forwards;
  transform-origin: top left;
}
@keyframes showSubMenu {
  to {
    transform: scaleY(1) scaleX(1);
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  nav ul.meniu li > div,
  nav ul.meniu li > a {
    font-size: 0.8rem;
  }
  nav ul.meniu li#home-icon > div > .home-text {
    display: none;
  }
  nav ul.meniu li#home-icon > div > .fas {
    margin-right: 0;
  }
}
@media screen and (max-width: 800px) {
  nav ul.meniu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
  }
  nav #hamburger {
    display: block;
    cursor: pointer;
  }
  nav input#ch-menu:checked + ul.meniu {
    display: block;
    position: absolute;
    top: var(--inaltime-meniu);
    width: 100%;
    background: var(--culoare-deschisa);
    animation: revealMenu 1s forwards;
  }
  nav input#ch-menu:checked + ul.meniu li {
    display: block;
    text-align: center;
    width: 100%;
  }
  nav input#ch-menu:checked + ul.meniu li > a,
  nav input#ch-menu:checked + ul.meniu li > div {
    padding: 1rem;
    text-align: center;
    width: 100%;
  }
  nav ul.meniu li ul {
    position: inherit;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    max-height: none;
    overflow-y: visible;
  }
  nav ul.meniu li:hover ul {
    display: block;
    transition: clip-path 0.3s;
  }
  @keyframes revealMenu {
    0% {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    5% {
      clip-path: polygon(0 0, 5% 0, 6% 50%, 5% 100%, 0 100%);
    }
    10% {
      clip-path: polygon(0 0, 10% 0, 12% 50%, 10% 100%, 0 100%);
    }
    15% {
      clip-path: polygon(0 0, 15% 0, 18% 50%, 15% 100%, 0 100%);
    }
    20% {
      clip-path: polygon(0 0, 20% 0, 25% 50%, 20% 100%, 0 100%);
    }
    25% {
      clip-path: polygon(0 0, 25% 0, 31% 50%, 25% 100%, 0 100%);
    }
    30% {
      clip-path: polygon(0 0, 30% 0, 37% 50%, 30% 100%, 0 100%);
    }
    35% {
      clip-path: polygon(0 0, 35% 0, 43% 50%, 35% 100%, 0 100%);
    }
    40% {
      clip-path: polygon(0 0, 40% 0, 50% 50%, 40% 100%, 0 100%);
    }
    45% {
      clip-path: polygon(0 0, 45% 0, 56% 50%, 45% 100%, 0 100%);
    }
    50% {
      clip-path: polygon(0 0, 50% 0, 62% 50%, 50% 100%, 0 100%);
    }
    55% {
      clip-path: polygon(0 0, 55% 0, 68% 50%, 55% 100%, 0 100%);
    }
    60% {
      clip-path: polygon(0 0, 60% 0, 74% 50%, 60% 100%, 0 100%);
    }
    65% {
      clip-path: polygon(0 0, 65% 0, 80% 50%, 65% 100%, 0 100%);
    }
    70% {
      clip-path: polygon(0 0, 70% 0, 86% 50%, 70% 100%, 0 100%);
    }
    75% {
      clip-path: polygon(0 0, 75% 0, 92% 50%, 75% 100%, 0 100%);
    }
    80% {
      clip-path: polygon(0 0, 80% 0, 98% 50%, 80% 100%, 0 100%);
    }
    85% {
      clip-path: polygon(0 0, 85% 0, 99% 50%, 85% 100%, 0 100%);
    }
    90% {
      clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
    }
    95% {
      clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%);
    }
  }
}