<footer>
    <div>
        <p>Vizitaţi partenerii noştrii
            <a href="http://www.itgalaxy.ro" target="_blank" style="margin-right: 10px;">Link partener</a>
            <i class="fa-solid fa-heart fa-beat" style="--fa-beat-scale: 2.0;"></i>
        </p>
        <p>Click pentru a descarca imaginea
            <a href="/resurse/imagini/laptop-acer.png" download>Downladeaza imaginea</a>
        </p>
    </div>
    <a href="#">Înapoi la început</a>
    <div class="container" id="container">
        <a href="#" id="link-top" title="mergi sus"></a>
        <a href="#" id="sagetica"></a>
    </div>
    <address>
        Strada x, nr 1, Bucuresti, sector 3, Romania <br/>
        <a href="tel:+40720424123">Telefon</a><br/>
        <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" target="_blank">Adresa</a><br>
        <a href="mailto:GadgetHaven@gmail.com">E-mail</a><br/>
        <a href="https://wa.me/1XXXXXX">Whatsapp</a><br/>
        <a href="skype:utilizator.fictiv?chat">Skype</a><br/>
    </address>
    <small>
        Copyright &copy; <time datetime="2024-03-10 15:53">duminica, 10 martie 2024</time>
    </small>
</footer>
<div class="watermark">
    <div>Georgescu</div>
    <div>Andrei</div>
</div>
</body>
</html>
