<!DOCTYPE html>
<html lang="ro">
<head>
    <title><%= titlu %> - Gadget Haven</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="gadget, huse, laptopuri gadget, gadget Romania, tableta, smartphone gadgethaven, laptopuri gaming, periferice, casti, casti wireless, pret redus, high-tech, Bucuresti">
    <meta name="description" content="<%= descriere %>">
    <meta name="author" content="Magazin GadgetHaven">
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resurse/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/resurse/favicon/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/resurse/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resurse/favicon/favicon-16x16.png">
    <link rel="manifest" href="/resurse/favicon/site.webmanifest">
    <link rel="mask-icon" href="/resurse/favicon/safari-pinned-tab.svg" color="#489cc3">
    <link rel="shortcut icon" href="/resurse/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="/resurse/favicon/browserconfig.xml">
    <meta name="theme-color" content="#489cc3">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="/resurse/css/general.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/nav.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/stil.css" type="text/css" />
    <link rel="stylesheet" href="/resurse/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/resurse/css/vtt.css" type="text/css" />
</head>
<body>
