<nav>
    <label id="hamburger" for="ch-menu">
        <i class="fas fa-bars"></i>
    </label>
    <input id="ch-menu" type="checkbox">
    <ul class="meniu">
        <li id="home-icon">
            <div>
                <i class="fas fa-home"></i> <span class="home-text">Acasa</span>
            </div>
            <ul>
                <li><a href="/home">Welcome</a></li>
                <li><a href="#subcapitol-1">Trending</a></li>
                <li><a href="#subcapitol-2">Reduceri</a></li>
                <li><a href="/despre">Informatii</a></li>
                <li><a href="./cos.html">Cos</a></li>
                <li><a href="./cont.html">Cont</a></li>
            </ul>
        </li>
        <li>
            <div>Produse</div>
            <ul>
                <li><a href="/gallery">Toate</a></li>
                <li><a href="#">Laptopuri</a></li>
                <li><a href="#">Tablete</a></li>
                <li><a href="#">Gaming</a></li>
            </ul>
        </li>
        <li><a href="/contact">Contact</a></li>
        <!-- <li><a href="/despre">Despre</a></li> -->
    </ul>
</nav>
